
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
            padding: 20px;
            background-color: lightblue;
        }
        h1 {
            text-align: center;
            color: #2c3e50;
        }
        #riskDashboard {
            margin-top: 30px;
            display: flex;
            flex-direction: column; 
            
        }
        .metric-card {
            display: flex;
            padding: 20px;
            background-color: #ecf0f1;
            border-radius: 8px;
            border: 1px solid #ddd;
            width: 250px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }

        form {
            background-color: #fff;
            padding: 20px;
            margin-top: 20px;
            border-radius: 8px;
            border: 1px solid #ddd;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            max-width: 400px;
            margin: 20px auto;
        }

        .riskCard {
                padding: 20px;
                background-color: #ecf0f1;
                border-radius: 8px;
                border: 1px solid #ddd;
                width: 250px;
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }

        #increaseRiskButton {
        font-size: 16px;           
        padding: 15px;
        border-radius: 10px; 
        background-color: white;
        color: red; 

        
        }
        
    

